* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    height: 100vw;
    position: relative;
}

table {
    height: 100vw;
    width: 50%;
    border: solid 1px black;
}

td {
    border: solid 1px black;
}

input, label {
    margin: 5px;
}

.taskBlock {
    min-width: 100%;
    border: solid 1px black;
}

.activeTask {
    border: solid 1px blue;
}

.finishedTask {
    border: solid 1px green;
}

.downtimeTask {
    border: solid 1px purple;
}

.popup {
    border: solid 1px black;
    background-color: lightblue;
    max-width: 200px;
    position: absolute;
}

#addMenu {
    visibility: hidden;
}

#schedule {
    height: 100%;
}

#timeline {
    max-width: 30px;
}

#timelineCanvas {
    width: 100%;
    height: 100%;
}

#taskline {
    min-width: 150px;
    position: relative;
}

#timeMarker {
    height: 1px;
    background-color: red;
    position: absolute;
    margin: 3px;
}